* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.main-of-page {
  display: flex;
  justify-content: space-between;
}

.btn-in-card-contain {
  text-align: center;
}

.btn-in-card-contain .btn-in-card {
  border: 1px solid #000;
  padding: 6px 38px;
  width: 180px;
  border-radius: 14px;
}

.btn-in-card-contain .btn-in-card:hover {
  background-color: #000;
  color: #fff;
}

.middle-part {
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 13px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-post .create-post-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-post .create-post-down {
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0 auto;
}

.create-post .create-post-down .create-post-type {
  padding: 4px 10px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid #dbdbdb;
  margin-left: 20px;
  cursor: pointer;
}

.create-post .create-post-down .create-post-type i {
  margin-right: 5px;
  font-size: 14px;
}

.create-post .profile-in-createPost {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 13px;
  margin-right: 5px;
  margin-top: 5px;
}

.text-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create-post input.input-in-create-post {
  width: 100%;
  padding: 10px 6px;
  border-radius: 13px;
  outline: none;
  border: 1px solid #dbdbdb;
}

/* POST CREATED: */
.post-created {
  position: fixed;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 13px;
  padding: 6px 20px;
  border-radius: 13px;
}

.post-created small {
  color: #fff;
  margin-left: 6px;
  text-decoration: underline;
  cursor: pointer;
}

.post-created.active {
  bottom: 20px;
}

.post-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101000;
  background-color: rgba(0, 0, 0, 0.815);
  width: 100%;
  height: 100%;
}

.lazy-loading {
  height: 140px;
  margin-top: 18px;
  position: relative;
  overflow: hidden;
  border-radius: 13px;
}

.lazy-loading .lazy-loading-animation {
  background-color: rgb(146, 146, 146);
  width: 60px;
  transform: rotate(15deg);
  height: 120%;
  filter: blur(12px);
  position: absolute;
  top: -20px;
  animation: post-loading ease-in-out 2s infinite;
}