.friendsList-modal {
    width: 400px;
    height: 79vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 101;
    padding: 10px 0;
    border-radius: 13px;
    overflow-y: auto;
}

.friendsList-modal h3 {
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid rgb(243, 243, 243);
    position: relative;
}

.friendsList-modal h3 .close-modal {
    transform: translateY(-13px);
}

.friend {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: rgb(243, 243, 243);
    align-items: center;
    width: 96%;
    border-radius: 13px;
    border: NONE;
    outline: none;
    margin: 10px auto;
    cursor: pointer;
}

.friend .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.friend .left-side p {
    margin-left: 5px;
}

.friend img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 13px;
}

.empty-friends-list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .friendsList-modal {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}